#root {
     max-width: 1280px;
        margin: 0 auto;
        padding: 2rem;
        text-align: center;
      }

body{
    padding: 0;
    margin: 0;
    background:#3F51B5;
    background-image: linear-gradient(#7E57C2 50%, #3F51B5);
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:100vh;
  
} 
.navbar {
  padding-left: 2vw;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #7fbfb0;
height: 10vh;
}    

.creator-image{
  width: 30vw;
  height: 30vh;
  padding: 3px;
  border-radius: 30%;
  cursor: pointer;

}
.form-content {
  width: 70vw;
  height: 70vh;
  position: absolute;
  top: 10vh;
  left: 30vw;
  background-size: cover;
}
.formulary{
display: flex;
flex-direction: column;
background-color: rgb(86, 172, 209);
}
.submit {
  margin-top: 3vh;
  margin-bottom: 3vh
}
.card {
  background-color: rgb(177, 199, 219);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: 3em;
  margin-bottom: 3em;
  margin-left: 3em;
  margin-right: 3em;
  

  img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
  }
}

/*Navbar*/


 
 .NavContainer{


 padding: 2rem;
 background-color: #b491ad;
 display: flex;
 align-items: center;
 justify-content: space-between;

.NavContainer:hover{
  
}

 
 
 h2{
   font-weight: 400px;
   span{
     font-weight: bold;
    }
  }
  
  a{
    color: whithe;
    margin-right:1rem;
  }
}
.HomeIcon{
  
  position: relative;
  animation: mover 10s infinite;
  align-content: center;
  background-image: url("./assets/image/Home.png");
  background-size: cover;

  color: #b75858fc;
  font-size: 2rem;
}

/* BurgerButton*/
